
[discord]
[discord.{{user.discord.name}}]

Token="{{ discord.token }}"
Server="{{ user.discord.id}}" 
AutoWebhooks=true
RemoteNickFormat="[{PROTOCOL}] <{NICK}> "
# Map threads from other bridges on discord replies
PreserveThreading=true
AllowMention=["roles", "users"]