
[telegram]
[telegram.{{telegram.name}}]

Token="{{telegram.token}}" 
RemoteNickFormat="<{NICK}> "
MessageFormat="HTMLNick :"
QuoteFormat="{MESSAGE} (re @{QUOTENICK}: {QUOTEMESSAGE})"
QuoteLengthLimit=46
IgnoreMessages="^/"