
[irc.{{ twitch.name }}]
#Add the oauth token here you got from https://twitchapps.com/tmi/
Password="oauth:{{ twitch.token }}"
Nick="WaddleBots"
Server="irc.chat.twitch.tv:6697"
DebugLevel=1
UseTLS=true
RemoteNickFormat="[{PROTOCOL}] <{NICK}> "